<!DOCTYPE html>
<html lang="ca">
<head>
    <title>Edita Persona</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Edita Persona</h2>
        <form action="/persones/{{ persona.id }}" method="POST">
            <input type="hidden" name="id" value="{{ persona.id }}">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ persona.email }}" required>
            </div>

            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" value="{{ persona.nom }}">
            </div>

            <div class="form-group">
                <label for="edat">Edat:</label>
                <input type="number" id="edat" name="edat" value="{{ persona.edat }}">
            </div>

            <div class="form-group">
                <button type="submit" class="btn">Actualitza</button>
            </div>
        </form>
    </div>
</body>
</html>
