<!DOCTYPE html>
<html lang="ca">
<head>
    <title>Llista de Persones</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link type="image/png" sizes="16x16" rel="icon" href="/static/icons8-favicon-16.png">
    <script>
        function confirma_delete(personaId) {
            if (confirm("Estàs segur que vols eliminar aquesta persona?")) {
                window.location.href = `/persones/delete/${personaId}`;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Llista de Persones</h1>
        <a href="/persones/create_persona" class="button">Crear Nova Persona</a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Edat</th>
                    <th>Accions</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in persones_data %}
                <tr>
                    <td>{{ persona.id }}</td>
                    <td>{{ persona.email }}</td>
                    <td>{{ persona.nom }}</td>
                    <td>{{ persona.edat }}</td>
                    <td>
                        <a href="/persones/{{ persona.id }}" class="edit-button">Editar</a>
                        <button onclick="confirma_delete({{ persona.id }})" class="delete-button">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
