<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WeatherTech{% endblock %}</title>
    <link type="image/png" sizes="16x16" rel="icon" href="/static/icons8-favicon-16.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- OpenStreetMaps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Estils CSS complementaris -->
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>

<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">WeatherTech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Elements de navegació publics -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Inici</a>
                </li>
                <!-- Elements de navegació privats -->
                {% if is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/device">Dispositius</a>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="post">
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </li>
                {% endif %}
                <!-- + Elements de navegació publics -->
            </ul>
            <div class="d-flex">
                <a href="/login" class="btn btn-outline-light me-2">Login</a>
                <a href="/signup" class="btn btn-warning">Try for free</a>
            </div>
        </div>
    </div>
</header>

<main class="py-4">
    <div class="container">
        {% block content %}
        <!-- Contingut principal aquí -->
        {% endblock %}
    </div>
</main>

<footer class="footer bg-dark text-white text-center py-3">
    <div class="container">
        <p>&copy; 2024 WeatherTech. Tots els drets reservats.</p>
    </div>
</footer>
</body>
</html>
