body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.form-group {
    margin-bottom: 15px;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"], input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

label {
    display: block;
    margin-bottom: 5px;
}

.button, .edit-button, .delete-button {
    padding: 6px 12px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.edit-button {
    background-color: #28a745;
}

.delete-button {
    background-color: #dc3545;
}

.button:hover {
    background-color: #0056b3;
}

.edit-button:hover {
    background-color: #1ecb76;
}

.delete-button:hover {
    background-color: #ea5a69;
}