{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Llista de dispositius</h2>
    <a href="/device/new" class="btn btn-success btn-sm">Nou dispositiu ...</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Alias</th>
            <th>DevEUI</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Accions</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
        <tr>
            <td>{{ device.alias }}</td>
            <td>{{ device.dev_eui }}</td>
            <td>{{ device.latitud }}</td>
            <td>{{ device.longitud }}</td>
            <td>
                <a href="/device/{{ device.id }}" class="btn btn-info btn-sm">Modificar</a>
                <form action="/device/delete/{{ device.id }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('Estàs segur d\'eliminar el dispositiu: {{ device.id }}?');">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal per a edició -->
<div class="modal" tabindex="-1" id="editDeviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edició de dispositiu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- El formulari s'emplena amb JavaScript -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tanca</button>
                <button type="button" class="btn btn-primary" onclick="updateDevice();">Guarda canvis</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
