{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <form action="/device" method="post">
                    <div class="mb-3">
                        <label for="alias" class="form-label">Alias:</label>
                        <input type="text" class="form-control" id="alias" name="alias" required
                               value="{{ device.alias if device else '' }}" style="text-transform:uppercase">
                    </div>
                    <div class="mb-3">
                        <label for="dev_eui" class="form-label">Dev EUI:</label>
                        <input type="text" class="form-control" id="dev_eui" name="dev_eui" required
                               value="{{ device.dev_eui if device else '' }}">
                    </div>
                    <div class="mb-3">
                        <label for="latitud" class="form-label">Latitud:</label>
                        <input type="text" class="form-control" id="latitud" name="latitud" required readonly
                               value="{{ device.latitud if device else '' }}">
                    </div>
                    <div class="mb-3">
                        <label for="longitud" class="form-label">Longitud:</label>
                        <input type="text" class="form-control" id="longitud" name="longitud" required readonly
                               value="{{ device.longitud if device else '' }}">
                    </div>
                    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
                </form>
            </div>
            <div class="col-md-6" id="map" style="height: 400px;"></div>
        </div>
    </div>
</div>
<script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var marker;

    function updateMarker(lat, lng) {
        if (marker) {
            marker.setLatLng([lat, lng]);
        } else {
            marker = L.marker([lat, lng]).addTo(map);
        }
        map.setView([lat, lng], 13);
        document.getElementById('latitud').value = lat;
        document.getElementById('longitud').value = lng;
    }

    map.on('click', function (e) {
        updateMarker(e.latlng.lat, e.latlng.lng);
    });

    // Si hi ha valors existents per a latitud i longitud, actualitza el marcador
    var existingLat = "{{ device.latitud | default('') }}";
    var existingLng = "{{ device.longitud | default('') }}";
    if (existingLat && existingLng) {
        updateMarker(existingLat, existingLng);
    }
</script>
{% endblock %}